<div *ngIf="isLoading" class="container mx-auto p-4 border border-gray-200 rounded-lg space-y-4">
    <!-- Main container skeleton -->
    <div class="animate-buffer-left-right bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300 bg-[length:200%_100%] h-12 w-full rounded mb-4"></div>
  
    <!-- Title skeleton -->
    <div class="animate-buffer-left-right bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300 bg-[length:200%_100%] h-6 w-1/2 rounded mb-2"></div>
  
    <!-- Switch Link skeleton -->
    <div class="animate-buffer-left-right bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300 bg-[length:200%_100%] h-6 w-1/3 rounded mb-4"></div>
  
    <!-- Main container sections skeleton -->
    <div class="flex flex-col lg:flex-row gap-4">
      <!-- Course details skeleton -->
      <div class="animate-buffer-left-right bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300 bg-[length:200%_100%] h-96 w-full lg:w-1/3 rounded-lg mb-4"></div>
  
      <!-- Content skeleton -->
      <div class="flex-1 lg:w-2/3 space-y-4">
        <!-- Total Students skeleton -->
        <div class="animate-buffer-left-right bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300 bg-[length:200%_100%] h-12 rounded"></div>
  
        <!-- Course Average Mark skeleton -->
        <div class="animate-buffer-left-right bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300 bg-[length:200%_100%] h-12 rounded"></div>
  
        <!-- Assessment Progress skeleton -->
        <div class="animate-buffer-left-right bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300 bg-[length:200%_100%] h-40 w-full rounded-lg mb-4"></div>
  
        <!-- Students' Attendance skeleton -->
        <div class="animate-buffer-left-right bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300 bg-[length:200%_100%] h-40 w-full rounded-lg"></div>

        <!-- Students' Attendance skeleton -->
        <div class="animate-buffer-left-right bg-gradient-to-r from-gray-300 via-gray-200 to-gray-300 bg-[length:200%_100%] h-40 w-full rounded-lg"></div>

      </div>
    </div>
  </div>